{% extends "base.html" %}

    {%block content%}
    <div class="jumbotron text-center">
        <h1>Add</h1>
        <form method = "POST">
            {{form.hidden_tag()}}
            {{form.item.label}} {{form.item()}}
            <br>
            <br>
            {{form.quantity.label}} {{form.quantity()}}
            <br>
            <br>
            {{form.price.label}} {{form.price()}}
            <br>
            <br>
          
            {{form.submit()}}
        </form>

    </div>
        
    {% endblock %}
      