{% extends "base.html" %}

    {%block content%}
    <div class="jumbotron container-fluid text-center">
        <h1>Home Page</h1>
        <img src="../static/cafe.jpg" alt="" width="1200" height="500">

    </div>
        
    {% endblock %}