{% extends "base.html" %}

    {%block content%}

    <div class="jumbotron container-fluid text-center">
        <form method = "POST">
          {{form1.hidden_tag()}}
          {{form1.pdfsubmit()}}
          <br>
          <br>       
      </form>
      </div>
      {% endblock %}
  