{% extends "base.html" %}

    {%block content%}
    <div class="jumbotron container-fluid text-center">
        <h1>search record</h1>
        <form method = "POST">
            {{form.hidden_tag()}}
            {{form.search.label}} {{form.search()}}{{form.submit()}}
            <br>
            <br>  
        </form>

    </div>
        
    {% endblock %}