{% extends "base.html" %}

    {%block content%}
  
    <div class="jumbotron container-fluid text-center">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">no.</th>  
                <th scope="col">Item</th>    
                <th scope="col">Quantity</th> 
                <th scope="col">Price(Rs)</th>
                <th scope="col">Total(Rs)</th>
                <th scope="col">DateTime</th>            
              </tr>
            </thead>
            <tbody>   
        {%for row in name%}
        <tr>
          <th scope="row">1</th>
            <td>{{row.item}}</td>
            <td>{{row.quantity}}</td> 
            <td>{{row.price}}</td>
            <td>{{row.price * row.quantity}}</td>
            <td>{{row.date}}</td> 
        </tr>
        {%endfor%}
            </table>
    </div>
    <a class="navbar-brand text-center" href="{{url_for('pdf_searched')}}">Export to pdf</a>
    <a class="navbar-brand text-center" href="{{url_for('excelsearch')}}">Export to excel</a>
    {% endblock %}
